@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.main-container {
    background-color: rgb(229, 226, 226);
}

.inner-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding: 5%;
    font-family: sans-serif;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    flex-wrap: wrap;
}

.card-up {
    min-width: 20%;
    height: 320px;
}

.card-down {
    min-width: 20%;
    height: 320px;
}

.card-head {
    height: 10%;
    -webkit-box-shadow: 10px 0 8px -6px #777;
    -moz-box-shadow: 0 0 8px -6px #777;
    box-shadow: 12px 10px 10px -6px #777;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.card-foot {
    -webkit-box-shadow: 0px 0 8px -6px #777;
    -moz-box-shadow: 0 0 8px -6px #777;
    box-shadow: 12px -10px 10px -6px #777;
}

.card-body {
    height: 70%;
    border-left: 1px solid rgba(128, 128, 128, 0.401);
    -webkit-box-shadow: 10px 0 10px -6px #777;
    -moz-box-shadow: 10px 0 10px -6px #777;
    box-shadow: 10px 0 10px -6px #777;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.card-hide {
    height: 15%;
    background: transparent;
}

.radius-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.radius-bottom{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.card-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: aliceblue;
    border-radius: 50%;
    border: 0.5px solid transparent;
    margin-bottom: 0;
    font-family:'Montserrat',sans-serif;
}
.one{
    color: #1d2d60;
    margin-top: -25px;
}
.two{
    color:#9d2057;
    margin-bottom: -25px;

}
.three{
    color: #e35e13;
    margin-top: -25px;
}
.four{
    color: #195b37;
    margin-bottom: -25px;

}
.five{
    color: #b77d33;
    margin-top: -25px;

}
.card-text {
    width: 180px;
    height: fit-content;
    align-content: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}