 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.columns{
    font-family: sans-serif;
    width: 100%;
    display: flex;
   flex-direction: row;
   padding: 3% 11%;
}
.col-left{
  padding: 5% 0 5% 10%;
 width: 60%;
}
.col-left h1{
    font-size: 1.5rem;
    font-weight: 600;
}
.col-left p{
    font-size: 1.1rem;
}
.col-right{
  padding: 5%;
  width: 40%;
}
.line{
    border-top: 3.5px solid #ac2672;
    width: 55%;
}
.about-img{
  padding-top:3%;
  padding-right: 10%;
  max-width: 100%;
  height: 180px;
}
.green-rect{
    background-color: rgb(1, 73, 1);
    height: 40%;
    width: 70%;
    opacity: 0.8;
    float: right;
}