.container{
    width: 100%;
    background-color: whitesmoke;
}

#chead{
    background-color: blue;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.chead-text{
color: whitesmoke;
font-size: 20px;
}

.btn-book{
    background: linear-gradient(90deg,rgb(226, 139, 39),rgb(231, 69, 69),rgb(185, 90, 185));
    height:50px ;
    width: 110px;
    border-radius: 35px;

}

#cbody{
    background-color: rgb(233, 229, 229);
    width: 80%;
}

.btns-1{
    width: 80px;
    border-radius: 35px;
    border: none;
}

.btn-cat{
    background: linear-gradient(90deg,rgb(226, 139, 39),rgb(231, 69, 69),rgb(185, 90, 185));
    height:40px ;
    width: 80px;
    border-radius: 35px;
    border: none;
    margin: 8px 5px;
}

.doctor-img{
    border: 3px solid orange;
    border-radius: 50px;
}

/* .apmnt-details{
    margin: 20px 10px;
} */

.note{
    color: orange;
    font-size: 18px;
}

.btns-2{
    background: linear-gradient(90deg,rgb(156, 63, 156),blue);
    color: white;
    height:35px ;
    width: 120px;
    border-radius: 35px;
    border: none;
    margin:20px 8px;
}

.btn-view{
    height:35px ;
    width: 120px;
    border-radius: 35px;
    border: none;
    margin: 20px 8px;
}

.eye-icon{
    margin: 0 5px;
}

.btn-back{
    height: 60px;
    width: 420px;
    border-radius: 50px;
    margin: 25px 25px;
    border: 1px solid rgb(146, 139, 139);
    box-shadow: 7px 7px 7px rgb(97, 92, 92);
}