@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.header{
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background-image: url('../../assets/bg-img.png');
    height:500px;
    display: flex;
    align-items: flex-end;
    margin-top: 5px;
}
.header-items{
    margin-left: 17%;
    margin-bottom: 2%;
}
.header-items img{
    height: 200px;
}
